@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400&display=swap");
@font-face {
  font-family: Blackpast;
  src: url(/fonts/BlackpastDemo-vm2l9.ttf);
}
@font-face {
  font-family: SEGA;
  src: url(/fonts/SEGA.TTF);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: rgb(255, 255, 255, 0);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Cormorant", sans-serif;
}
*::-webkit-scrollbar {
  display: none;
}
body {
  min-height: 100%;
  overflow: hidden;
  background: rgb(0, 0, 0);
  color: #d7d7d7;
}
/* // TOP NAVIGATION BAR ////////////////////////////////////////// */
nav {
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: black;
  z-index: 111;
}
.top-nav {
  max-width: 1200px;
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(to right, black, rgb(111, 111, 111), black);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-logo {
  height: 40px;
  width: 40px;
  margin: 10px;
  border-radius: 50%;
  background: url(/logos/virtual-epoch-logo-04-edit-200.png) 50% 50% / 100%;
}
.site-logo:hover {
  border: 1px solid white;
}
.nav-header {
  font-family: Blackpast;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 60px;
  cursor: pointer;
}
/* // MENU BUTTON STYLING ///////////////////////////////////////// */
.menu-btn {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
  box-shadow: 1px -1px 5px 2px rgb(255, 255, 255, 0.3) inset;
}
.menu-btn-burger {
  width: 25px;
  height: 1px;
  background: white;
  border-radius: 2px;
  box-shadow: 0 0 3px 1px rgb(255, 255, 255);
  transition: all 0.5s ease-in-out;
  animation: glow 4s infinite ease-in-out;
}
.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 1px;
  background: white;
  border-radius: 2px;
  box-shadow: 0 0 3px 1px rgb(255, 255, 255);
  transition: all 0.5s ease-in-out;
  animation: glow 4s infinite ease-in-out;
}
@keyframes glow {
  50% {
    box-shadow: none;
  }
}
.menu-btn-burger::before {
  transform: translateY(-7px);
}
.menu-btn-burger::after {
  transform: translateY(7px);
}
/* BUTTON ANIMATION  */
.menu-btn.open .menu-btn-burger {
  /* transform: translateX(-50px); */
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn-burger::before {
  transform: rotate(45deg);
}
.menu-btn.open .menu-btn-burger::after {
  transform: rotate(-45deg);
}
/* // MENU BOX STYLING ///////////////////////////////////////////// */
#menu-box {
  height: calc(100vh - 80px);
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 60px auto 0 auto;
  padding-bottom: 60px;
  background: rgb(0, 0, 0);
  text-align: center;
  font-size: 25px;
  position: fixed;
  top: -444%;
  left: 0;
  right: 0;
  transition: 0.5s;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 110;
}
a {
  color: aliceblue;
  transition: 1s ease-in-out;
}
/* #menu-box.open {
  top: 0;
} */
#link1,
#link2,
#link3,
#link4 {
  color: aliceblue;
  position: relative;
  margin: 33px auto;
  top: -444%;
}
#link1 {
  transition: 1.1s;
  margin-top: 60px;
}
#link2 {
  transition: 0.9s;
}
#link3 {
  transition: 0.7s;
}
#link4 {
  transition: 0.5s;
}
#menu-box a:hover {
  color: black;
  background: white;
  padding: 7px 13px;
  border-radius: 3px;
}
.bottom-nav {
  position: fixed;
  bottom: 0;
  z-index: 1111;
  height: 75px;
  width: 100vw;
}
#actionbtn-page-1,
#actionbtn-page-2,
#actionbtn-page-3,
#actionbtn-page-4 {
  color: white;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  height: 40px;
  width: 140px;
  margin: 0 auto;
  font-size: 17px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
}
#actionbtn {
  height: 40px;
  width: 140px;
  position: absolute;
  margin: auto;
  bottom: 20px;
  left: 0;
  right: 0;
  box-shadow: 0 0 35px rgba(148, 148, 148, 0.3);
  border-radius: 5px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}
#actionbtn::before {
  content: "";
  background-image: conic-gradient(rgb(0, 0, 0), rgb(0, 0, 0), rgb(81, 255, 246));
  height: 500px;
  width: 500px;
  position: absolute;
  top: -230px;
  left: -170px;
  animation: rotate 4s infinite linear;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
#actionbtn::after {
  content: "";
  height: 95%;
  width: 98%;
  position: absolute;
  top: 3%;
  left: 1%;
  color: rgb(255, 255, 255);
  background: linear-gradient(to top right, black, rgb(124, 124, 124), black);
  display: grid;
  place-items: center;
  font-size: 15px;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
}
footer {
  width: 100vw;
  position: fixed;
  bottom: 0px;
  z-index: 11;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 15px;
  letter-spacing: 2px;
  background: linear-gradient(to right, black, rgb(111, 111, 111), black);
}
