#home,
#about,
#projects,
#contact {
  width: 100vw;
  height: calc(100vh - 80px);
  border: 1px dotted rgb(47, 47, 47);
  justify-items: center;
  margin-top: 60px;
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: black;
  text-align: center;
}
#home h1,
#about h1,
#projects h1,
#contact h1 {
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 5px;
  border-right: 1px solid rgb(119, 119, 119);
  border-bottom: 1px solid rgb(119, 119, 119, 0.5);
  border-left: 1px solid rgb(119, 119, 119);
  box-shadow: 0 -5px 5px rgba(255, 255, 255, 0.2) inset;
}
#home {
  background-image: url(/images/blueice.jpg);
  background-size: auto 100%;
}
#h2,
#h4 {
  font-size: 15px;
  position: relative;
  margin-top: 30px;
  right: -444%;
  width: 100vw;
  width: fit-content;
  margin: 10px auto;
  padding: 5px 20px;
  border-left: 1px solid white;
  border-bottom: 1px solid rgb(61, 61, 61);
  box-shadow: -5px 5px 6px rgba(255, 255, 255, 0.1);
}
#h3,
#h5 {
  position: relative;
  left: -444%;
  font-size: 15px;
  width: fit-content;
  margin: 10px auto;
  padding: 5px 20px;
  border-right: 1px solid white;
  border-top: 1px solid rgb(61, 61, 61);
  box-shadow: 5px -5px 6px rgba(255, 255, 255, 0.1);
}
#h2.load {
  transition: 1s ease;
  right: 0;
}
#h3.load {
  transition: 1s ease 0.5s;
  left: 0;
}

#h4.load {
  transition: 1s ease 1s;
  right: 0;
}
#h5.load {
  transition: 1s ease 1.5s;
  left: 0;
}
/*--------ABOUT, PROJECTS, CONTACT CONTENT SECTIONS-----------------------------------------------------------*/
.about-content,
.projects-content,
.contact-content {
  max-width: 1000px;
  margin: 50px auto;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
  text-align: center;
}
#about {
  background-image: url(/images/omar-gattis-1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about-content {
  max-width: 800px;
}
#projects {
  background-image: url(/images/negative-space-97077-lg-1280.jpg);
}
.projects-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 400px;
  text-align: center;
}
.project-1-image{
  width: 300px;
  margin: 0 auto;
  margin-top: 80px;
}
.project-2-image{
  width: 300px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 10px;
}
.text-box h2{
  padding: 20px;
}
.text-box p{
  padding: 0 30px;
  line-height: 25px;
}
#contact {
  background-image: url(/images/negative-space-97077-lg-1280.jpg);
}
.contact-content {
  padding: 20px;
  }
.profile-pic{
  width: 100px;
  border-radius: 50%;
}
