#home {
  padding: 55px 0 20vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: 0.5s ease-in-out 1s;
}
#canvas1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.section-main-header {
  width: fit-content;
  position: fixed;
  top: -100px;
  left: 0;
  right: 0;
  z-index: 11;
  margin: 0 auto;
  padding: 5px 15px;
  border: 1px solid rgb(119, 119, 119);
  border-top: none;
  font-size: clamp(1rem, 1vw, 1.4rem);
  box-shadow: 0 -5px 5px rgba(255, 255, 255, 0.2) inset;
  background: black;
}
.section-main-header.load {
  transition: 0.5s ease-in-out;
  top: 65px;
}
#home h2 {
  font-size: clamp(1rem, 1vw, 2rem);
}
#h2,
#h4 {
  width: fit-content;
  position: relative;
  right: -444vw;
  z-index: 11;
  margin: 10px auto;
  padding: 5px 20px;
  border-left: 1px solid white;
  border-bottom: 1px solid rgb(61, 61, 61);
  box-shadow: -5px 5px 6px rgba(255, 255, 255, 0.1);
  background: rgb(0, 0, 0, 0.7);
}
#h3,
#h5 {
  width: fit-content;
  position: relative;
  left: -444vw;
  z-index: 11;
  margin: 10px auto;
  padding: 5px 20px;
  border-right: 1px solid white;
  border-top: 1px solid rgb(61, 61, 61);
  box-shadow: 5px -5px 6px rgba(255, 255, 255, 0.1);
  background: rgb(0, 0, 0, 0.7);
}
#h2.load {
  transition: 1s ease;
  right: 0;
}
#h3.load {
  transition: 1s ease 0.5s;
  left: 0;
}
#h4.load {
  transition: 1s ease 1s;
  right: 0;
}
#h5.load {
  transition: 1s ease 1.5s;
  left: 0;
}
@media (max-height: 500px) {
  #home {
    flex-direction: row;
  }
  #h2,
  #h3,
  #h4,
  #h5 {
    display: inline-block;
    font-size: 10px;
  }
}
#about,
#projects,
#contact {
  display: none;
}
#about h1,
#projects h1,
#contact h1 {
  width: fit-content;
  margin: 20px auto;
  padding: 8px 15px;
  font-size: clamp(1rem, 3vw, 2rem);
  border-bottom: 2px solid white;
  background: radial-gradient(farthest-corner at 50% 100%, rgb(202, 201, 201), rgb(151, 151, 151) 20%, rgb(0, 0, 0) 70%);
}
/* ABOUT, PROJECTS, CONTACT-CONTENT //////////////////*/
.about-content,
.projects-content {
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(0, 0, 0, 0.8);
}
#about {
  background: linear-gradient(white, black, white);
}
.about-content {
  padding-bottom: 50px;
  margin-bottom: 400px;
  position: relative;
  z-index: 11;
}
.pyramid-container {
  max-width: 1200px;
  height: calc(100vh - 75px);
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.pyramid-wrapper {
  width: 100%;
  height: 100%;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 470px;
  perspective-origin: 50%;
}
.pyramid {
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  position: absolute;
  bottom: 33%;
  animation: pyramid-spin 4s linear infinite;
}
@keyframes pyramid-spin {
  100% {
    transform: rotateY(360deg);
  }
}
.pyramid div {
  width: 200px;
  height: 200px;
  position: absolute;
  /* backface-visibility: ; */
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  border-bottom: 1px solid white;
  background: linear-gradient(white 20%, rgb(0, 0, 0, 0) 20%, rgb(0, 0, 0, 0) 40%, white 40%, white 60%, rgb(0, 0, 0, 0) 60%, rgb(0, 0, 0, 0) 80%, white 80%);
}
.pyramid img {
  width: 100%;
  height: 100%;
}
.pyramid .pyramid-front {
  transform: translateZ(100px) rotateX(30deg) translateY(-29px) translateZ(-42px);
}
.pyramid .pyramid-right {
  transform: rotateY(-270deg) translateX(100px) rotateX(30deg) translateY(-42px) translateZ(-92px);
  transform-origin: 100% 0;
}
.pyramid .pyramid-back {
  transform: translateZ(-100px) rotateY(180deg) rotateX(30deg) translateY(-29px) translateZ(-42px);
}
.pyramid .pyramid-left {
  transform: rotateY(270deg) translateX(-100px) rotateX(30deg) translateY(-28px) translateZ(-41px);
  transform-origin: 0 50%;
}
.pyramid .pyramid-shadow {
  background: rgb(0, 0, 0, 0.4);
  transform: rotateX(90deg) translateZ(-130px);
  border: none;
  box-shadow: 0 0 20px 10px rgb(0, 0, 0, 0.5);
  clip-path: none;
}
#projects {
  background: url(/images/blueice.jpg) center/cover;
}
.projects-content {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 100px 20px;
}
.javascriptive-link {
  background: linear-gradient(to top right, black, rgb(106, 106, 106), black);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  margin: 50px auto;
  max-width: fit-content;
}
.javascriptive-link a {
  display: block;
  border-radius: 20px;
  color: aliceblue;
}
.javascriptive-link h2 {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  line-height: 30px;
  padding: 10px;
  font-size: 25px;
}
.text-box {
  margin: 33px 0;
  padding: 11px;
  border: 1px solid aliceblue;
  border-radius: 10px;
  box-shadow: 0 0 7px 2px aliceblue;
  background: linear-gradient(to top right, black, rgb(124, 124, 124), black, rgb(158, 158, 158));
}
.project-1-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project-3-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project-1-image-container {
  height: 300px;
  margin: 40px auto;
}
.project-1-image {
  width: 100%;
  height: 100%;
}
.project-3-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.link-container {
  width: 100px;
  height: 50px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  position: relative;
  top: -40px;
  margin: 0 auto;
  background: rgb(34, 96, 162);
}
.link-container-2 {
  width: 100px;
  height: 50px;
  position: relative;
  top: -60px;
  margin: 0 auto;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: rgb(34, 96, 162);
}
.link-container a,
.link-container-2 a {
  position: relative;
  top: 27px;
  color: white;
  letter-spacing: 2px;
}
.project-2-image {
  width: 250px;
  margin: 20px auto;
  border-radius: 10px;
}
.text-box h2 {
  padding: 20px 15px 10px 15px;
}
.text-box p {
  padding: 0 15px 40px 15px;
  line-height: 25px;
}
/* CONTACT SECTION STYLING //////////////////////// */
.contact-content {
  max-width: 1200px;
  min-height: 100%;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  padding: 0 20px 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-link {
  margin: 33px 0;
  padding: 11px;
  border: 1px solid aliceblue;
  border-radius: 10px;
  box-shadow: 0 0 7px 2px aliceblue;
  background: linear-gradient(to top right, black, rgb(124, 124, 124), black, rgb(158, 158, 158));
}
.profile-card {
  max-width: 500px;
  line-height: 30px;
}
.profile-logo {
  width: 100px;
  float: left;
  margin: 10px;
  border-radius: 50%;
}
.contact-link i {
  font-size: 40px;
}
.resume-link p {
  font-size: 17px;
}
.w3c-css-icon {
  width: 85px;
  height: 33px;
  margin: 33px 0;
  border: 1px solid aliceblue;
  box-shadow: 0 0 7px 2px aliceblue;
  background: none;
}
