* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
}
h1 {
  position: fixed;
  top: 20px;
  right: 0;
  left: 0;
  z-index: 2;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid aliceblue;
  font-size: 20px;
  color: darkblue;
  width: fit-content;
  background: rgb(255, 255, 255, 0.7);
}
#canvas1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 1000px;
  height: 100%;
  background: radial-gradient(white, blue);
}
.back-button {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 2;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid aliceblue;
  font-size: 20px;
  color: darkblue;
  width: fit-content;
  background: rgb(255, 255, 255, 0.7);
}
